body {
    /* background-color: rgb(187, 217, 235);
    background-image: url("gambar/webdev.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; */
    background: rgb(187, 217, 235) url("gambar/webdev.png") no-repeat fixed right;
}