body {
    /* background-color: rgb(187, 217, 235);
    background-image: url("gambar/webdev.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; */
    background: rgb(187, 217, 235) url("gambar/webdev.png") no-repeat fixed right;
    font-family: sans-serif;
}

h1 {
    color: blue;
    text-align: center;
    text-decoration: underline;
    display: inline;
}

h2 {
    text-align: center;
    text-transform: capitalize;
    display: inline;
}

#text-pendek {
    font-size: 24px;
    font-weight: bold;
    background: yellow;
    width: 50%;
    height: 200px;
    max-width: 30%;
    max-height: 100px;
}

#text-panjang {
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 5px;
    line-height: 20px;
    word-spacing: 5px;
}

.menu-item {
    height: 50px;
    width: 50px;
    display: inline-block;
    text-decoration: none;
}

/* kondisi normal */
.menu-item:link {
    background: grey;
}

/* kondisi link dikunjungi */
.menu-item:visited {
    background: grey;
    color: aqua;
}

/* mouse berada di atas link */
.menu-item:hover {
    background: green;
    color: yellow;
}

/* link sedang di klik */
.menu-item:active {
    background: red;
    color: white;
}